:root {
  --body-bkg: #09103C;
  --main-text: #fff;
  --accent-color: #88C82D;
}

[data-theme="light"] {
  --body-bkg: #fff;
  --main-text: #09103C;
  --accent-color: #88C82D;
}

body {
  background-color: var(--body-bkg);
  color: var(--main-text);
  padding: 8rem 0 0 0;
  margin: 0;
  display: block;
  width: 100%;
}



/* === Navbar === */

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--body-bkg);
  z-index: 1000; 
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 8rem;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 72.5%;
  align-items: center;
  margin: 0 auto;;
}

.offcanvas-body p {
  color: var(--main-text);
  font-size: 1.5rem;
}

.offcanvas-body p:last-of-type {
  margin-bottom: 2rem;
}

/* === Hero Section === */

.hero-container {
  display: block;
  position: relative;
  margin: 0 auto;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 72.5%;
  height: 75vh;
  border-radius: 8px;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--body-bkg));
  pointer-events: none;
  z-index: 1;
}

.hero-container h1 {
  position: absolute;
  bottom: 6rem;
  right: 0;
  font-size: 75px;
  z-index: 2;
}

.hero-container h2 {
  position: absolute;
  bottom: 3.5rem;
  right: 0;
  font-size: 35px;
  color: var(--accent-color);
  font-style: italic;
  font-weight: 400;
  z-index: 2;
}



/* === Experience Buttons === */
.experience-button-container {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;
  margin-top: 5rem;
  margin-bottom: 9rem;
  column-gap: 20%;
}

.exp-btn {
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  width: 15.625rem;
  padding: 10px 20px; 
  font-size: 1.25rem;
  background-color: var(--body-bkg); 
  color: var(--main-text); 
  cursor: pointer; 
}

.exp-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-text);
  cursor: pointer;
  transition: .25s ease-in-out;
}

/* === Interactive Grid === */
.interactive-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  width: 72.5%;
  margin: 3rem auto 5rem;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.left-column h3 {
  margin-bottom: 20px;
  font-size: 4.6875rem;
}

.left-column ul {
  list-style: none;
  padding: 0;
}

.left-column li {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all .65s ease;
  font-size: 1.7rem;
}

.left-column li.active, .left-column li:hover {
  font-size: 2.5rem;
  color: var(--accent-color);
}

.right-column {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 2s ease;
  opacity: 0;
  border-radius: 12px;
  box-shadow: 5px 5px 10px black;
}

.image-container.active {
  opacity: 1;
  z-index: 1;
}

.image-container.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 11.75px;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  padding: 10px;
  border-radius: 11.75px;
  padding: 0 15%;
  font-size: 1.5rem;
  line-height: 200%;
}

/* === NursifyTeam === */
.nursify-team {
  text-align: center;
  color: var(--main-text);
  padding: 20px;
  width: 72.5%;
  margin: 12rem auto;
}

.nursify-team h3 {
  font-size: 4.6875rem;
  margin-bottom: 20px;
}

.nursify-team .highlight {
  color: var(--accent-color);
  font-weight: bold;
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  margin: 3rem auto 5rem;
}

.toggle-switch .toggle-option {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
  text-align: center;
  border-radius: 50px;
  z-index: 1;
  position: relative;
  font-size: 1.5rem;
}

.toggle-switch .toggle-option.active {
  background-color: var(--accent-color);
  color: var(--main-text);
}

.toggle-switch .toggle-option:not(.active) {
  color: var(--body-bkg);
}

.toggle-switch .toggle-background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 45%;
  background-color: var(--accent-color);
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.team-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.team-content .image-column img {
  width: auto;
  height: 750px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
}

.team-content .bio-column {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2;
  margin-left: 50px;
}


/* === Module Slides === */

.gameContainer h2 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4.6875rem;
}

.section-header-highlight {
  color: var(--accent-color);
}

.swiper_container {
 width: 80%;
 margin: 0 auto;
 }

 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.moduleImg {
  height: 500px;
  width: 750px;
  object-fit: cover;
  /* margin-bottom: 3rem; */
  border-radius: 6px;
  box-shadow: 5px 5px 5px black;
}

.moduleImgSm {
  height: 500px;
  width: 500px;
  object-fit:cover;
  /* margin-bottom: 3rem; */
  border-radius: 6px;
  box-shadow: 5px 5px 5px black;
}

.moduleText {
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
font-weight: 600;
}

#sliderPosition {
  transform: translateY(1rem);
}

.gameParagraph {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 7rem 3rem 7rem;
}

.gameParagraph h3 {
  color: var(--accent-color);
  font-size: 2rem;
}

.gameParagraph a {
  text-decoration: none;
  color: var(--cl-mixed)
}

/* === Testimonials === */
.testimonials-carousel {
  text-align: center;
  padding: 20px;
  width: 72.5%;
  margin: 10rem auto 0;
}

.testimonials-carousel h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
}



.testimonials-carousel .highlight {
  color: var(--accent-color);
  font-weight: bold;
}

.testimonial-divider {
  border: none;
  border-top: 2px solid var(--main-text);
  margin: 0 auto 1.5rem;
  width: 100%;

}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  width: 100%;
  /* white-space: nowrap; */
  scroll-behavior: smooth;
}

.testimonial-card {
  flex: 0 0 150px; 
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin: 0 50px;
  width: 300px;
}

.testimonial-card.active {
  border-color: var(--accent-color);
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.testimonial-info {
  text-align: left;
}

.testimonial-name {
  font-weight: bold;
  color: var(--accent-color);
}

.testimonial-title {
  font-style: italic;
  color: var(--body-bkg);
}

.testimonial-image img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.testimonial-review {
  margin: 20px 0;
  color: var(--body-bkg);
}

.testimonial-stars {
  font-size: 1.2rem;
  color: var(--accent-color);
}

/* .carousel-button {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--accent-color);
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.testimonial-details {
  margin: 5rem auto;
  text-align: center;
  width: 72.5%;
}

.testimonial-details h4 {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
} */


/* ============================== */
/* =======Scrolling Reviews====== */
/* ============================== */

.scroller {
  max-width: 72.5%;
  /* outline: 3px solid lime; */
  margin: 0 auto;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller-inner {
  flex-wrap: nowrap;
  width: fit-content;
  animation: scroll 60s linear infinite;
}

.scroller-inner {
  display: flex;
  padding-block: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.review-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.review-list li {
  padding: 1rem;
  height: 275px;
  width: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem -0.25rem black;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}

.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 100s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}