:root {
  --body-bkg: #09103C;
  --main-text: #fff;
  --accent-color: #88C82D;
  }

[data-theme="light"] {
  --body-bkg: #fff;
  --main-text: #09103C;
  --accent-color: #88C82D;
}



body {
  background-color: var(--body-bkg);
  color: var(--main-text);
  padding: 0;
  margin: 0;
  display: block;
}